*.lo
*.o
.deps
.libs
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/atconfig
/clibrary
/clibrary2
/clibrary3
/connection_recovery
/long_message
/package.m4
/run_test
/so_locations
/spd_cancel_long_message
/spd_set_notifications_all
/tags
/testsuite
_libs
