ABOUT-NLS
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
doc/mdate-sh
doc/texinfo.tex
Makefile
Makefile.in
install-sh
libtool
ltmain.sh
m4/
missing
po/*.gmo
po/Makevars.template
po/remove-potcdate.sed
po/remove-potcdate.sin
po/speech-dispatcher.pot
po/stamp-po
py-compile
speech-dispatcherd.service
speech-dispatcher.pc
.deps/
stamp-h1
.version
