.deps
.libs
*.o
*.la
*.lo
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
config.h.in
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
config.h
config.log
config.status
libtool
stamp-h1
