*.lo
*.o
.deps
.libs
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/dummy-message.wav
/libbaratinoo.so
/libvoxin.so
/sd_baratinoo
/sd_cicero
/sd_dummy
/sd_espeak
/sd_espeak-ng
/sd_festival
/sd_flite
/sd_generic
/sd_ivona
/sd_kali
/sd_pico
/sd_skeleton0
/sd_skeleton0_espeak-ng-async
/sd_skeleton0_espeak-ng-async-server
/sd_skeleton0_espeak-ng-sync
/sd_skeleton0_espeak-ng-sync-server
/sd_skeleton_config
/sd_voxin
/so_locations
/tags
_libs
