*.o
.deps
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/mdate-sh
/so_locations
/spd-say.dvi
/spd-say.html
/spd-say.info
/speech-dispatcher-cs.dvi
/speech-dispatcher-cs.html
/speech-dispatcher-cs.info
/speech-dispatcher.dvi
/speech-dispatcher.html
/speech-dispatcher.info
/ssip.dvi
/ssip.html
/ssip.info
/stamp-1
/stamp-vti
/tags
/texinfo.tex
/version-2.texi
/version.texi
