*.o
.deps
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/so_locations
/spd-say.info
/speech-dispatcher-cs.info
/speech-dispatcher.info
/ssip.info
/stamp-1
/stamp-vti
/tags
/texinfo.tex
/version-2.texi
/version.texi
