Source: speechd
Section: sound
Priority: extra
Maintainer: Milan Zamazal <pdm@brailcom.org>
Build-Depends: debhelper (>> 3.0.0), libglib2.0-dev, libdotconf-dev, libasound2-dev, flite-dev, automake1.7, librecode-dev, libestools-dev, festival-dev
Standards-Version: 3.5.9

Package: speechd
Architecture: any
Depends: ${shlibs:Depends}
Recommends: flite
Suggests: festival
Description: Speech Dispatcher interface to speech synthesizers
 Speech Dispatcher provides a device independent layer for speech synthesis.
 This package contains Speech Dispatcher itself.

Package: libspeechd0
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: speechd (<< 0.0-11)
Description: Speech Dispatcher: Shared libraries
 Speech Dispatcher provides a device independent layer for speech synthesis.
 This package contains a shared library needed for C programs linked with it.

Package: libspeechd-dev
Architecture: any
Depends: libspeechd0 (= ${Source-Version})
Suggests: speechd
Conflicts: speechd (<< 0.0-11)
Description: Speech Dispatcher: Development libraries and header files
 Speech Dispatcher provides a device independent layer for speech synthesis.
 This package contains a shared library needed for C programs linked with it.
