#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3

package = speechd
libpackage = libspeechd0
libpackagedev = libspeechd-dev

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


CFLAGS = -Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

config.status: configure
	dh_testdir
	./build.sh
	CXX=g++-2.95 ./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info --sysconfdir=/etc


build: build-stamp

build-stamp:  config.status
	dh_testdir
	$(MAKE)
	(cd doc; $(MAKE) info)
	touch build-stamp

clean:
	dh_testdir
	rm -f build-stamp 
	./build.sh
	CXX=g++-2.95 ./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info --sysconfdir=/etc
	-$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k -A
	dh_installdirs -A
	find -name '*.la' -exec rm {} \; # to avoid invalid libtool paths
	$(MAKE) install prefix=$(CURDIR)/debian/$(package)/usr sysconfdir=$(CURDIR)/debian/$(package)/etc/$(package)
# Install speechd files
	find $(CURDIR)/debian/$(package)/usr/bin -type f -not -name speechd -exec rm {} \;
	chmod 700 $(CURDIR)/debian/$(package)/var/log/speechd
# Install libpseechd files
	mv $(CURDIR)/debian/$(package)/usr/lib/libspeechd.so.* $(CURDIR)/debian/$(libpackage)/usr/lib/
	mv $(CURDIR)/debian/$(package)/usr/lib/libsdaudio.so.* $(CURDIR)/debian/$(libpackage)/usr/lib/
# Installde libspeechd-dev files
	mv $(CURDIR)/debian/$(package)/usr/lib/*.so $(CURDIR)/debian/$(libpackagedev)/usr/lib/
	mv $(CURDIR)/debian/$(package)/usr/lib/*.a $(CURDIR)/debian/$(libpackagedev)/usr/lib/
	mv $(CURDIR)/debian/$(package)/usr/lib/*.la $(CURDIR)/debian/$(libpackagedev)/usr/lib/
	install -m 644 src/c/api/libspeechd.h $(CURDIR)/debian/$(libpackagedev)/usr/include/

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installinit
	dh_installman debian/speechd.7
	dh_installinfo doc/*.info*
	dh_installchangelogs ChangeLog
	dh_installchangelogs -p$(libpackage) -p$(libpackagedev)
	dh_installlogrotate
	install -m 644 debian/overrides.$(package) $(CURDIR)/debian/$(package)/usr/share/lintian/overrides/$(package)
	dh_link -A
	dh_strip -A
	dh_compress -A
	dh_fixperms -A
	dh_installdeb -A
	dh_shlibdeps -A
	dh_gencontrol -A
	dh_md5sums -A
	dh_builddeb -A

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
