*.lo
*.o
.deps
.libs
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/so_locations
/spd_alsa.la
/spd_libao.la
/spd_nas.la
/spd_oss.la
/spd_pulse.la
/tags
_libs
